<Dialog class="p-dialog" v-model:visible="display" :modal="true" :style="{width: width}" :class="customClass ? customClass : ''" >
    <template #header>
        <h3>{{ translate(title) }}</h3>
    </template>

    <div ref="el">
        <template v-if="Array.isArray(message)">
            <div  v-for="(msg,index) in message" v-html="msg" :key="index"></div>
        </template>
        <template v-else>
            <div v-html="message"></div>
        </template>
    </div>

    <template #footer>
        <Button :label="translate('app.annulla')" icon="pi pi-times p-button-secondary" autofocus v-on:click="cancel" />
        <Button :label="translate('app.ok')" icon="pi pi-check" autofocus v-on:click="ok" />
    </template>
</Dialog>
